<!--<footer>-->
<!--    {% block footer %}-->
<!--        {% block newsletter %}-->
<!--            <p>Newsletter</p>-->
<!--            <p>Ne ratez pas les dernières informations de we moë</p>-->
<!--        {% endblock %}-->
<!--        {% block social %}-->
<!--            <p>Suivez-nous</p>-->
<!--        {% endblock %}-->
<!--        {% block bottom %}-->
<!--            <p>C Copyright</p>-->
<!--            <p>Mentions légales</p>-->
<!--            <p>Top</p>-->
<!--        {% endblock %}-->
<!--    {% endblock %}-->
<!--</footer>-->

{% block footer %}
<aside id="tertiary" class="widget-area" role="complementary">
<div class="wrap">

    <div id="footer-widget-1" class="footer-widget">
            <section id="sow-editor-13" class="widget widget_sow-editor">
                <div class="so-widget-sow-editor so-widget-sow-editor-base">
                <div class="siteorigin-widget-tinymce textwidget">
                    <p style="text-align: left;"><a href="http://we-moe.fr/index.php/mentions-legales/">Mentions légales</a></p>
                </div>
                </div>

            <div class="so-widget-sow-editor so-widget-sow-editor-base">
            <div class="siteorigin-widget-tinymce textwidget">
                <p style="text-align: center;">La newsletter</p>
                <p style="text-align: center;">Ne ratez pas les actualités de we moë</p>
            </div>
            </div>
            <div class="so-widget-sow-editor so-widget-sow-editor-base">
            <div class="siteorigin-widget-tinymce textwidget">
                <p><!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"/>
                <style type="text/css">
                #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//we-moe.us15.list-manage.com/subscribe/post?u=1ae16d2e8840d2c4e5ad3beee&amp;id=4f203982a8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <p>	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse email" required/><br />
                        </p>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1ae16d2e8840d2c4e5ad3beee_4f203982a8" tabindex="-1" value=""/>
                        </div>
                        <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"/>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </section>
    </div>
</aside>
{% endblock %}