{% extends "main/base.html" %}

{% block content %}
<div id="content" class="site-content">

        <div id="primary" class="content-area">
            <header class="entry-header">
                <h1 class="entry-title">Accueil</h1>
            </header>
        </div>
    
        <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie, risus vitae volutpat gravida, neque mi imperdiet felis, quis ullamcorper massa orci et metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec est nisl, condimentum ut bibendum eu, fermentum ut nunc. Praesent semper tellus vel urna venenatis, eget auctor urna sodales. Sed feugiat viverra lorem ac finibus. Vestibulum egestas aliquet commodo. Morbi tristique pretium lacus, non congue nunc porttitor non.
    
    Nullam neque nisi, convallis nec vulputate id, commodo ac dolor. Ut mi dolor, porta et quam a, dictum feugiat dolor. Etiam sem urna, dignissim sed ligula ut, vehicula pharetra augue. In erat magna, laoreet sit amet sem non, scelerisque mattis arcu. Nam finibus, purus eu dapibus auctor, mi urna sollicitudin ex, ut tempor nunc sem sed nibh. Donec sit amet vehicula nulla. Quisque non aliquet tellus. In in mauris egestas, auctor dui eget, pulvinar odio. Pellentesque feugiat scelerisque imperdiet.
    
    Aliquam ut orci ac ipsum euismod vulputate sed vel turpis. Nullam scelerisque malesuada tortor in bibendum. Duis sed nibh luctus, euismod ex nec, ultricies tellus. Sed eu eros a lacus facilisis pharetra. Suspendisse semper magna quis quam interdum, non tincidunt arcu euismod. In sit amet rhoncus eros, quis porta dolor. Nulla in turpis interdum, imperdiet massa eget, dignissim augue.
    
    Pellentesque id mollis enim. In ut odio sit amet dui luctus dapibus a vitae ex. Ut efficitur ipsum et luctus pretium. Integer fringilla, purus vel dictum malesuada, nisi dui ultricies leo, in pharetra mi risus sed magna. Nulla auctor eu lacus eget tempus. Cras rhoncus felis sit amet rhoncus egestas. Proin blandit mauris nisl.
    
    Mauris tempor, dolor vel consequat venenatis, dolor erat sagittis odio, et molestie velit massa at augue. Cras semper, neque a eleifend tincidunt, enim libero tincidunt lorem, et cursus arcu erat efficitur nibh. Maecenas. 
        </p>
        <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie, risus vitae volutpat gravida, neque mi imperdiet felis, quis ullamcorper massa orci et metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec est nisl, condimentum ut bibendum eu, fermentum ut nunc. Praesent semper tellus vel urna venenatis, eget auctor urna sodales. Sed feugiat viverra lorem ac finibus. Vestibulum egestas aliquet commodo. Morbi tristique pretium lacus, non congue nunc porttitor non.
    
    Nullam neque nisi, convallis nec vulputate id, commodo ac dolor. Ut mi dolor, porta et quam a, dictum feugiat dolor. Etiam sem urna, dignissim sed ligula ut, vehicula pharetra augue. In erat magna, laoreet sit amet sem non, scelerisque mattis arcu. Nam finibus, purus eu dapibus auctor, mi urna sollicitudin ex, ut tempor nunc sem sed nibh. Donec sit amet vehicula nulla. Quisque non aliquet tellus. In in mauris egestas, auctor dui eget, pulvinar odio. Pellentesque feugiat scelerisque imperdiet.
    
    Aliquam ut orci ac ipsum euismod vulputate sed vel turpis. Nullam scelerisque malesuada tortor in bibendum. Duis sed nibh luctus, euismod ex nec, ultricies tellus. Sed eu eros a lacus facilisis pharetra. Suspendisse semper magna quis quam interdum, non tincidunt arcu euismod. In sit amet rhoncus eros, quis porta dolor. Nulla in turpis interdum, imperdiet massa eget, dignissim augue.
    
    Pellentesque id mollis enim. In ut odio sit amet dui luctus dapibus a vitae ex. Ut efficitur ipsum et luctus pretium. Integer fringilla, purus vel dictum malesuada, nisi dui ultricies leo, in pharetra mi risus sed magna. Nulla auctor eu lacus eget tempus. Cras rhoncus felis sit amet rhoncus egestas. Proin blandit mauris nisl.
    
    Mauris tempor, dolor vel consequat venenatis, dolor erat sagittis odio, et molestie velit massa at augue. Cras semper, neque a eleifend tincidunt, enim libero tincidunt lorem, et cursus arcu erat efficitur nibh. Maecenas. 
        </p>
    </div>
{% endblock %}