    {% block pages %}
        <p><a href="{% url 'changeAssuranceRAS' %}">Je veux changer d'assurance (RAS)</a></p>
        <p><a href="{% url 'changeAssurance' %}">Je veux changer d'assurance</a></p>
        <p><a href="{% url 'estPerdu' %}">Je suis perdu</a></p>
        <p><a href="{% url 'envisageEmprunt' %}">J'envisage un emprunt</a></p>
        <p><a href="{% url 'subiRefus' %}">J'ai subi plusieurs refus</a></p>
        <p><a href="{% url 'veutEmprunt' %}">Je veux faire un emprunt </a></p>
        <p><a href="{% url 'veutEmpruntRAS' %}">Je veux faire un emprunt (RAS)</a></p>
    {% endblock %}